@page "/Privacy/Settings"

@layout MainLayout


@if (Privacy != null)
{
    <div class="segment-container custom-background-default">
        <EditForm Model="Privacy">
            <DataAnnotationsValidator />
            <div class="form-group form-group-small">
                <div class="segment-title custom-color-primary">@TextProvider.Get("BACKEND_PRIVACY_TITLE_GENERAL")</div>
            </div>
            <div class="extra-small-element-separator"></div>
            <div class="formbuilder-language-picker form-group-small">
                <label class="form-label custom-color-primary">@TextProvider.Get("BACKEND_FORM_DEFINITION_LANGUAGE_PICKER")</label>
                <TelerikButtonGroup SelectionMode="@ButtonGroupSelectionMode.Single">
                    <ButtonGroupToggleButton @bind-Selected="@German">@TextProvider.Get("LANGUAGE_GERMAN")</ButtonGroupToggleButton>
                    <ButtonGroupToggleButton @bind-Selected="@Italian">@TextProvider.Get("LANGUAGE_ITALIAN")</ButtonGroupToggleButton>
                    </TelerikButtonGroup>             
            </div>
            <div class="small-element-separator"></div>
            <div class="form-group form-group-small">
                <label class="form-label custom-color-primary">@TextProvider.Get("BACKEND_PRIVACY_TITLE")</label>
                @if(Privacy.PRIV_Privacy_Extended != null && Privacy.PRIV_Privacy_Extended.Count() > 0 && CurrentLanguage != null){
                    <label class="font-detail">@Privacy.PRIV_Privacy_Extended.FirstOrDefault(p => p.LANG_Languages_ID != CurrentLanguage).Title</label>
                    <InputText @bind-Value="Privacy.PRIV_Privacy_Extended.FirstOrDefault(p => p.LANG_Languages_ID == CurrentLanguage).Title" class="form-control"></InputText>
                }
            </div>
            <div class="extra-small-element-separator"></div> 
            <div class="form-group form-group-small">
                <label class="form-label custom-color-primary">@TextProvider.Get("BACKEND_PRIVACY_DESCRIPTION")</label>
            </div>
            <div class="extra-small-element-separator"></div>
            <div class="form-group">
                @if(Privacy.PRIV_Privacy_Extended != null && Privacy.PRIV_Privacy_Extended.Count() > 0 && CurrentLanguage != null)
                {                    
                    @if(string.IsNullOrEmpty(Privacy.PRIV_Privacy_Extended.FirstOrDefault(p => p.LANG_Languages_ID == CurrentLanguage).Description))
                    {
                        Privacy.PRIV_Privacy_Extended.FirstOrDefault(p => p.LANG_Languages_ID == CurrentLanguage).Description = Privacy.PRIV_Privacy_Extended.FirstOrDefault(p => p.LANG_Languages_ID != CurrentLanguage).Description;
                    }

                    <TelerikEditor @bind-Value="Privacy.PRIV_Privacy_Extended.FirstOrDefault(p => p.LANG_Languages_ID == CurrentLanguage).Description"
                                   Tools="@Tools"
                                   EditMode="@EditorEditMode.Div"
                                   Class="font-normal"
                                   Height="400px">
                        <EditorSettings>
                            <EditorPasteSettings ConvertMsLists="true"
                                                 RemoveMsClasses="true"
                                                 RemoveMsStyles="true"
                                                 RemoveHtmlComments="true"
                                                 RemoveAllAttributes="true"
                                                 StripTags="@StripTags"
                                                 RemoveAttributes="@RemoveAttributes">
                            </EditorPasteSettings>
                        </EditorSettings>
                    </TelerikEditor>
                }
            </div>
            <div class="segment-button-toolbar">
                <TelerikButton ButtonType="ButtonType.Button" ThemeColor="Primary" Icon="SvgIcon.ArrowRight" Class="k-standalone-button"
                                OnClick="@SaveForm">@TextProvider.Get("BUTTON_SAVE")</TelerikButton>
            </div>
        </EditForm>
    </div>
}