<div class="form-password">
    <TelerikTextBox @bind-Value="@Password" Class="form-control" DebounceDelay="0" Password="@HidePassword" PlaceHolder="@PlaceHolder" />
    <TelerikButton OnClick="@OnShowPassword" Icon="SvgIcon.Eye" ThemeColor="@(ThemeConstants.Button.ThemeColor.Secondary)" ButtonType="ButtonType.Button" Enabled="@HidePassword"></TelerikButton>
</div>