@page "/RoomBooking/List"
@layout MainLayout

<div class="segment-container custom-background-default">
    <div class="filter-container">
        <ICWebApp.Components.Rooms.Filter.FilterComponent Filter="@Filter" OnSearch="FilterSearch"></ICWebApp.Components.Rooms.Filter.FilterComponent>
    </div>
    <div class="small-element-separator"></div>
    <div class="grid-data-container segment-loader-container">
        <CustomLoader Visible="@(IsDataBusy)"
                            Text="@null" Class="initial-data-loader">
        </CustomLoader>
        <TelerikGrid Data="@Bookinggroups" 
                     Pageable="true"
                     PageSize="20"
                     Sortable="false" 
                     Resizable="false" 
                     Groupable="false" 
                     Reorderable="false"
                     ScrollMode="@GridScrollMode.Scrollable"
                     OnRowClick="@OnRowClick">
          @*  <GridToolBar>
                <GridCommandButton Command="MyAddCommand" OnClick="@Add" Icon="add">@TextProvider.GetOrCreate("ADD")</GridCommandButton>
            </GridToolBar>*@
            <GridColumns>
                <GridColumn Field="@nameof(V_ROOM_Booking_Group.Fullname)" Title="@TextProvider.GetOrCreate("BACKEND_ROOM_BOOKING_USERNAME")" Width="auto"></GridColumn>
                <GridColumn Field="@nameof(V_ROOM_Booking_Group.ProgressivNumberCombined)" Title="@TextProvider.GetOrCreate("PROGRESSIV_NUMBER")" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(V_ROOM_Booking_Group.Status)" Title="@TextProvider.GetOrCreate("BACKEND_ROOM_BOOKING_STATUS")" Width="auto">
                    <Template Context="statusContext"> 
                        @{
                            V_ROOM_Booking_Group item = statusContext as V_ROOM_Booking_Group;

                            if (item != null)
                            {
                                <span class="icon-element">
                                    <TelerikIcon Icon="@item.IconCSS"></TelerikIcon>
                                    <span style="margin-left: 5px;">
                                        @item.Status
                                    </span>
                                </span>
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="@nameof(V_ROOM_Booking_Group.Title)" Title="@TextProvider.GetOrCreate("BACKEND_ROOM_BOOKING_TITLE")" Width="auto"></GridColumn>
                <GridColumn Field="@nameof(V_ROOM_Booking_Group.Days)" Title="@TextProvider.GetOrCreate("BACKEND_ROOM_BOOKING_TOTAL_DAYS")" Width="auto"></GridColumn>
                <GridColumn Field="@nameof(V_ROOM_Booking_Group.Rooms)" Title="@TextProvider.GetOrCreate("BACKEND_ROOM_BOOKING_TOTAL_ROOMS")" Width="auto"></GridColumn>
                <GridCommandColumn Width="120px" Title="@TextProvider.Get("ACTIONS")">
                    @{
                        V_ROOM_Booking_Group item = context as V_ROOM_Booking_Group;

                        if (item != null)
                        {
                            <GridCommandButton Command="MyDetailCommand" Class="btn btn-secondary" OnClick="@(() => ShowDetails(item))" Icon="SvgIcon.Pencil" title="@TextProvider.GetOrCreate("TOOLTIP_EDIT")"></GridCommandButton>
                        }
                    }
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
</div>



