@if(Message == null)
{
    <EditForm Model="@User" OnValidSubmit="HandleValidSubmit">   
        <div class="form-group">
            <label class="form-label">@TextProvider.Get("REGISTRATION_PASSWORD")</label>
            <CustomPassword @bind-Value="@Password"/>        
            <CustomValidationMessage For="@(() => User.Password)" TextCode="REGISTRATION_PASSWORD" />
            @if(User.Password != null &&  IsValidPassword == false)
            {
                <div style="color: red">
                    @TextProvider.Get("REGIISTRATION_PASSWORD_INVALID")
                </div>
            }
        </div>
        @if (!string.IsNullOrEmpty(PasswordQuality))
        {
            <div class="password-quality-bar-background">
                <div class="password-quality-bar @PasswordQuality">@TextProvider.Get(PasswordQuality)</div>
            </div>
        }
        <div class="info-box">
            @(TextProvider.Get("REGISTRATION_PASSWORD_INFORMATION"))
        </div>
        <div class="small-element-separator"></div>
        <div class="form-group">
            <label class="form-label">@TextProvider.Get("REGISTRATION_CONFIRM_PASSWORD")</label>
            <CustomPassword @bind-Value="@User.ConfirmPassword"/>        
            <CustomValidationMessage For="@(() => User.ConfirmPassword)" TextCode="REGISTRATION_CONFIRM_PASSWORD" />
        </div>
        <div class="element-separator"></div>
        <div class="registration-footer">
            <div class="small-element-separator"></div>
            <div class="form-group-container">
                <button class="btn btn-primary" type="submit">@(TextProvider.Get("CHANGEPASSWORD_BUTTON_REGISTER"))</button>
            </div>
        </div>
    </EditForm>
}
else
{
    <SystemMessageComponent Message="@Message"></SystemMessageComponent>
    <div class="element-separator"></div>
    <div class="resetPassword-backlink">
        <div class="small-element-separator"></div>
        <div class="form-group-container">
            <button class="btn btn-primary" @onclick="BackToLogin" type="button">@(TextProvider.Get("RESETPASSWORD_BUTTON_BACK_TO_LOGIN"))</button>
        </div>
    </div>
}