@{
    var modalCSS = "";

    if (Modal)
    {
        modalCSS = "filter-container-modal";
    }
}

<div class="filter-container @modalCSS">
    @if (Modal)
    {
        <div class="font-normal filter-label custom-color-primary">
            @TextProvider.Get("FILTER_TEXTSEARCH_TITLE")
        </div>
        <div class="extra-small-element-separator"></div>
    }
    <div class="filter-search-first-row">
        <div class="filter-search-input">
            <EditForm Model="@Filter" OnValidSubmit="@(() => FilterSearch())">
                <div class="filter-searchbar">
                    <input type="text" @bind-value="@Filter.Text" onfocus="this.select();" placeholder="@TextProvider.Get("SEARCH_KEYWORD_PLACEHOLDER")"></input>
                    @if (!Modal)
                    {
                        <button class="btn btn-primary searchbar-button" type="submit" @onclick:stopPropagation="true">
                            <TelerikIcon Icon="@("fad fa-search")"></TelerikIcon>
                        </button>
                        <button class="btn btn-primary searchbar-button" type="button" @onclick="ToggleFilter" @onclick:stopPropagation="true">
                            <TelerikIcon Icon="@("fad fa-sliders-h")"></TelerikIcon>
                        </button>
                    }
                </div>
            </EditForm>
        </div>
         @if (!Modal)
            {
                @if (Filter != null &&
               (
               !string.IsNullOrEmpty(Filter.Text) ||
               (Filter.Company_Type_ID != null && Filter.Company_Type_ID.Count() > 0) ||
               Filter.Auth_User_ID != null ||
               Filter.SubmittedFrom != null ||
               Filter.SubmittedTo != null ||
               (Filter.Request_Status_ID != null && Filter.Request_Status_ID.Exists(p => p != Guid.Parse("d09bfdf6-406b-44b8-9def-d37481b0828a")))
               ))
            {
                <button class="btn btn-primary filter-clear-button" type="button" @onclick="ClearSearchBar" @onclick:stopPropagation="true">
                <TelerikIcon Icon="@("fa-regular fa-xmark")"></TelerikIcon>
                </button>
            }
            else
            {
                <button class="btn btn-secondary filter-clear-button" type="button" disabled="true" @onclick:stopPropagation="true">
                <TelerikIcon Icon="@("fa-regular fa-xmark")"></TelerikIcon>
                </button>
            }
            }
    </div>
    <div class="small-element-separator"></div>
    @if (Modal)
    {
        <div class="font-normal filter-label custom-color-primary">
            @TextProvider.Get("FILTER_AUTHORITY_TITLE")
        </div>
        <div class="extra-small-element-separator"></div>
    }
    @if (CompanyTypeList != null && CompanyTypeList.Count() > 1)
    {
        <div class="filter-element filter-authorities">
            @if (Filter.Company_Type_ID != null && Filter.Company_Type_ID.Count() > 0)
            {
                <div class="btn btn-secondary authority-tag" @onclick="@(() => ClearTagFilter())" @onclick:stopPropagation="true">
                    <span>
                        <TelerikIcon Icon="@("fa-duotone fa-filter-slash")"></TelerikIcon>
                        @TextProvider.Get("AUTHORITY_TAG_FILTER_ALL")
                    </span>
                </div>
            }
            else
            {
                <div class="btn btn-primary authority-tag" @onclick:stopPropagation="true">
                    <span>
                        <TelerikIcon Icon="@("fa-duotone fa-filter-slash")"></TelerikIcon>
                        @TextProvider.Get("AUTHORITY_TAG_FILTER_ALL")
                    </span>
                </div>
            }

            @foreach (var room in CompanyTypeList.OrderBy(p => p.Text))
            {
                string buttonCSS = "btn-secondary";

                if (Filter.Company_Type_ID != null && Filter.Company_Type_ID.Contains(room.ID))
                {
                    buttonCSS = "btn-primary";
                }

                <div class="btn @buttonCSS authority-tag" @onclick="@(() => AddFilter(room.ID))" @onclick:stopPropagation="true">
                    <span>
                        @room.Text
                    </span>
                </div>
            }
        </div>
    }
    @if (FilterWindowVisible || Modal)
    {
        string popupCSS = "filter-popup";
        string firstRowCSS = "filter-first-row";
        string secondRowCSS = "filter-first-row";

        if (Modal)
        {
            popupCSS = "no-popup";
            firstRowCSS = "";
            secondRowCSS = "";
        }

        <div class="@popupCSS" id="filter-popup">
            @if (!Modal)
            {
                <div class="h5 custom-color-primary">
                    @TextProvider.Get("FILTER_TITLE")
                </div>
                <div class="extra-small-element-separator"></div>
            }
            else
            {
                <div class="small-element-separator"></div>
            }

            <div class="@firstRowCSS">
                <div class="font-normal">
                    <div class="filter-label custom-color-primary">
                        @TextProvider.Get("FILTER_STATUS_LABEL")
                    </div>
                    <div class="filter-element">
                        <TelerikMultiSelect Data="@StatusList"
                                        @bind-Value="@Filter.Request_Status_ID"
                                        ValueField="@(nameof(V_ORG_Request_Status.ID))"
                                        TextField="@(nameof(V_ORG_Request_Status.Description))"
                                        AutoClose="false"
                                        Placeholder="@TextProvider.Get("FILTER_STATUS_PLACEHOLDER")"
                                        Width="100%">
                            <ItemTemplate>
                                <span class="icon-element">
                                    <TelerikIcon Icon="@context.Icon"></TelerikIcon>
                                    <span style="margin-left: 5px;">
                                        @context.Description
                                    </span>
                                </span>
                            </ItemTemplate>
                        </TelerikMultiSelect>
                    </div>
                </div>
                <div class="extra-small-element-separator"></div>
                <div class="font-normal">
                    <div class="filter-label custom-color-primary">
                        @TextProvider.Get("FILTER_USER_LABEL")
                    </div>
                    <div class="filter-element">
                        <TelerikComboBox ScrollMode="@DropDownScrollMode.Virtual"
                                     Data="@UserList"
                                     ValueField="@(nameof(V_ORG_Request_Users.AUTH_Users_ID))"
                                     TextField="@(nameof(V_ORG_Request_Users.Name))"
                                     @bind-Value="@Filter.Auth_User_ID"
                                     Width="100%"
                                     Filterable="true"
                                     PageSize="10"
                                     ItemHeight="30"
                                     Placeholder="@TextProvider.Get("FILTER_USER_PLACEHOLDER")"
                                     FilterOperator="@StringFilterOperator.Contains">
                            <ItemTemplate>
                                <span>@($"{context.Name} ({context.FiscalNumber})")</span>
                            </ItemTemplate>
                        </TelerikComboBox>
                    </div>
                </div>
            </div>
            <div class="small-element-separator"></div>
            <div class="@secondRowCSS">
                <div class="filter-element">
                    <div class="filter-left">
                        <div class="font-normal custom-color-primary">
                            @TextProvider.Get("FILTER_SUBMITTED")
                        </div>
                        <div class="extra-small-element-separator"></div>
                        <div class="filter-submitted">
                            <div class="filter-date-element">
                                <div class="filter-date-label font-small">
                                    @TextProvider.Get("FILTER_SUBMITTED_FROM")
                                </div>
                                <div class="filter-date-value">
                                    <TelerikDatePicker Format="dd.MM.yyyy" @bind-Value="Filter.SubmittedFrom" class="form-control"></TelerikDatePicker>
                                </div>
                            </div>
                            <div class="filter-date-element">
                                <div class="filter-date-label font-small">
                                    @TextProvider.Get("FILTER_SUBMITTED_TO")
                                </div>
                                <div class="filter-date-value">
                                    <TelerikDatePicker Format="dd.MM.yyyy" @bind-Value="Filter.SubmittedTo" class="form-control"></TelerikDatePicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra-small-element-separator"></div>
                <div class="filter-element">
                    <div class="filter-right">
                        <div class="filter-label custom-color-primary">
                            @TextProvider.Get("FILTER_ARCHIVED_LABEL")
                        </div>
                        <div class="extra-small-element-separator"></div>
                        <div class="filter-element">
                            <TelerikSwitch @bind-Value="Filter.Archived" OnLabel="@TextProvider.Get("YES")" OffLabel="@TextProvider.Get("NO")" Width="65px"
                                       Class="list-item-switch"></TelerikSwitch>
                        </div>
                    </div>
                </div>
            </div>
            @if (!Modal)
            {
                <div class="small-element-separator">
                </div>
                <div class="filter-toolbar">
                    <div class="filter-search-button">
                        <button class="btn btn-primary" @onclick="@(() => FilterSearch())" type="button">@(TextProvider.Get("FITER_SEARCH"))</button>
                    </div>
                </div>
            }
        </div>
    }

    @if (Modal)
    {
        <div class="element-separator"></div>
        <div class="filter-button-bar">
            @if (Filter != null &&
           (
           !string.IsNullOrEmpty(Filter.Text) ||
           (Filter.Company_Type_ID != null && Filter.Company_Type_ID.Count() > 0) ||
           Filter.Auth_User_ID != null ||
           Filter.SubmittedFrom != null ||
           Filter.SubmittedTo != null ||
           (Filter.Request_Status_ID != null && Filter.Request_Status_ID.Exists(p => p != Guid.Parse("d09bfdf6-406b-44b8-9def-d37481b0828a")))
           ))

            {
                <TelerikButton OnClick="@ClearSearchBar" ButtonType="ButtonType.Button" ThemeColor="Secondary" Class="form-filter-button btn btn-secondary" Icon="@("fa-regular fa-xmark")">@TextProvider.Get("FILTER_CLEAR")</TelerikButton>
            }
            else
            {
                <TelerikButton OnClick="@ClearSearchBar" ButtonType="ButtonType.Button" Enabled="false" ThemeColor="Secondary" Class="form-filter-button btn btn-secondary" Icon="@("fa-regular fa-xmark")">@TextProvider.Get("FILTER_CLEAR")</TelerikButton>
            }

            <TelerikButton OnClick="@FilterSearch" ButtonType="ButtonType.Button" ThemeColor="Primary" Class="form-filter-button btn btn-primary" Icon="@("fad fa-search")">@TextProvider.Get("FILTER_SEARCH")</TelerikButton>
        </div>
    }
</div>